<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SheffieldHallam.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SheffieldHallam.Service.Properties.Settings>
            <setting name="SheffieldHallam_Service_SheffieldHallamService_SHUWebService"
                serializeAs="String">
                <value>http://webteach_net.hallam.shu.ac.uk/cmsmr2/SHUWebService.asmx</value>
            </setting>
        </SheffieldHallam.Service.Properties.Settings>
    </applicationSettings>
</configuration>