@model IEnumerable<University.Data.University>

@{
    ViewBag.Title = "GetUniversities";
}

<h2>Universities</h2>

<table class="table">
    <tr>
        <th>
            University
        </th>
        <th>
            +
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("GetCourses", new { Controller = "Course", UniversityId = item.UniversityId })" title="Show Courses">
                @Html.DisplayFor(modelItem => item.UniversityName)
            </a>
        </td>
        <td>
            
            <a href="@Url.Action("GetCourses", new { Controller = "Course", UniversityId = item.UniversityId })" title="Show Courses">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to applications", "GetApplications", new { userId = ViewBag.UserId, Controller="Application" }, new { @class = "btn btn-link btn-sm" })
</div>


