@{
    ViewBag.Title = "NAA";
}

<div class="jumbotron">
    <h1>National Admission Agency</h1>
    <p class="lead">Application Service for Students</p>
    <p>
        @if (ViewBag.UserId > 0)
        {
            @Html.ActionLink("Profile", "GetApplicant", new { id = ViewBag.UserId, Controller = "Applicant" }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Register", "AddApplicant", new { Controller = "Applicant" }, new { @class = "btn btn-primary" })
            <span>&nbsp;</span>
            @Html.ActionLink("Login", "AddApplicant", new { Controller = "Applicant" }, new { @class = "btn btn-primary" })

        }

    </p>
</div>

<div class="jumbotron">
    <p class="lead">Application Service API for Universities</p>
    <p><a href="http://localhost:65506/NAAWebService.asmx" target="_blank" class="btn btn-default">API</a></p>
</div>